node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Ignore package-lock, generated based on the dependencies from package-lock
package-lock.json

frontend/constants/httpUrl.json
